<ion-view title="Gallery">
  <!--   <ion-nav-buttons side="left">
        <i class=" ion-clock "></i>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <div class="row">
            <div class="col col-50"> <i class=" camera-right ion-android-camera "></i></div>
            <div class="col col-50"> <i class="cloud-right ion-android-upload "></i></div>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
                <div class="col-33">
                    <img ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdRG1kk-0tpgCyJImH3o0872sBdXHfOz58laGXzL31mfnyIU_a" />
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
