<ion-view>
<ion-content>

<h1 class="center">Lam demo watermark 2 11</h1>
<div id= "content" class="center">
	<!-- <p><img class="watermark" ng-src="/img/demoWatermark.png" /></p> -->

	<p>
                    <img class="watermark" src="/img/demoWatermark.png" alt="Image">
                </p>
</div>
<div class="center">

	<button class="button button-calm" ng-click="addtext">Add Text</button>
	&nbsp&nbsp&nbsp&nbsp
	<button class="button button-calm" ng-click="addimg">Add Ionic</button>


</div>
</ion-content>
</ion-view>