<ion-view title="Upload Image">
    <ion-nav-buttons side="right">
        <div class="row">
            <div class="col col-100">
                <i class="ion-android-checkmark-circle icon-save-right" ng-click="watermarkImg()"></i>
            </div>
        </div>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Secret Key</span>
                <input type="text" ng-model="User.secretkey">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Your image</span>
                <br>
                <div class="center">
                <img id= "watermarkId" ng-src="/img/demoWatermark.png">
                </div>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Select Watermark Mode</span>
                <ion-radio ng-repeat="item in modeWatermarkList"
                    ng-value="item.value"
                    ng-model="data.modeWatermark"
                    ng-change="myFunc(item)">
                    {{ item.text }}
                </ion-radio>
            </label>

            <div ng-switch="data.modeWatermark">
                <label ng-switch-when="txt" class="item item-input item-stacked-label">
                    <input type="text" placeholder="Text for watermark" ng-model="txt.src">
                </label>
                <label ng-switch-when="lg" class="item item-input item-stacked-label">
                    <span class="input-label">Emebed logo to use</span>
                    <br>
                    <img style="50px" ng-src={{img.src}}>
                    <!-- <img id="logo" style="50px" ng-src="/img/ionic.png"> -->
                </label>
            </div>
            
        </div>
    </ion-content>
</ion-view>
